In [1]:
import pandas as pd
df=pd.read_csv("/Users/tejastammewar/Desktop/pythonPractise/withmulti.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [2]:
#cleaning the data
# here we can fill Nan with the median value of that attribute
import math
med_bedrooms=df.bedrooms.median()
med_bedrooms

3.5

In [3]:
df.bedrooms=df.bedrooms.fillna(med_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [6]:
reg.coef_
#y=mx1+mx2+..mxn+b
#x1,x2,..-> coefficients
# b=intercept

array([    198.47159002, -116583.73881651,  -14267.77585936])

In [7]:
reg.intercept_

656046.5390048662

In [8]:
reg.predict([[3000,3,40]])

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([330999.05823262])

In [12]:
# to cross-verify the predicted value
y=3000*198.47159002 + 3*-116583.73881651 +40*-14267.77585936 +656046.5390048662
y

330999.05824093625